@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div id="selectBox" style="float: left;"></div>
    <div id="buttonContainer" style="float: left; margin-left: 20px;"></div>
    <div> 
        @using (Html.BeginForm())
        {
            @Html.Action("DashboardViewerPartial")
        }
    </div>
</body>
</html>
